/* 
Derived from:
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear{
  clear: both;
}

/* styles begin here */
body{
  margin: 0px;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding: 0px;
}

/* top bar */
#logo{
  color: #fff;
  background-color: #139bdf;
  font-family: "Lovers Quarrel";
  cursor: pointer;
  font-size: 38px;
  line-height: 38px;
  padding: 5px;
  padding-left: 40px;
  width: 160px;
}

#top-bar{
  background-color: #36a9e3;
  height: 48px;
  position: fixed;
  padding-right: 10px;
  z-index: 1000;
  width: 100%;
}

#top-bar-buttons {
  position: fixed;
  top: 0;
  right: 10px;
}

.top-bar-button{
  float: right;
  font-size: 18px;
  background-color: #139bdf;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 38px;
  padding: 0 10px 0 10px;  
  margin-right: 5px;
  margin-top: -1px;
  cursor: pointer;
  border: 1px solid #139bdf; 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}

.top-bar-button:hover{
  border: 1px solid #fff; 
}

.top-bar-button > a{
  text-decoration: none;
  color: #fff;
}

#main {
  padding-right: 20px;
}
/* featured video */
#watch-main-video{
}

#description-bar{
  float: left;
  padding: 20px;
  padding-top: 0;
  height: 385px;
}

#description-bar > h3{
  font-weight: bold;
  font-size: large;
  margin: 10px 0 10px 0;
}

#description-bar > h3:first-child{
  margin-top: 0px !important;
}

#featured-content{
  margin: 20px;
}

/* video list */
#videos{
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  margin: 20px;
}

#video-content{
  /*height: 3000px;*/
}

#video-title{
	padding-top:25px;
}

.video{
  width: 160px;
  height: 96px;
  display: inline-block;

}

.video img{
  width: 160px;
  height: 96px;
  border: none;
}

#watch-main-video{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}

#exercises-progress-container {
  width: 100%;
}

#exercises-progress{
  /* should probably auto-size with the width of the video, use some
  grid layout too */
  margin: 10px auto 10px auto;
  width: 480px; 
  border: 1px solid #139bdf;
}

.exercise{
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #000;
}


.exercise-content {
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.exercise-content > .question {
}

.exercise-content > .response-medium > textarea {
  margin-top: 15px;
  height: 100px;
  width: 100%;
}

.exercise > img{
  clear: both;
}

.exercise > h3{
  font-weight: bold;
  font-size: large;
  margin-bottom: 15px;
}

.next-button {
  float: right;
  margin-bottom: 10px;
}

.exercise > .visual {
  margin-left: auto;
  margin-right: auto;
}

.hint {
  float: right;
}

.completed{
  /*            background-color: #bfffaf;*/
}

.current{
  /*            background-color: #53c2a8;*/
}

.incomplete{
  /*           background-color: #ccc;*/
}

#learn-more{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff2cd;
}

#learn-more > ul{
  margin-top: 20px;
  margin-left: 40px;
}

#learn-more > ul > li{
  margin: 20px 0 20px 0;
}

#learn-more > h2{
  font-size: x-large;
  font-weight: bold;
}

.page-header {
  font-size: x-large;
  font-weight: bold;
}

/* pages */
#video-watch{
  display: block;
}

#front-page{
  display: none;
}

#sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 160px;
  padding: 0px;
  padding-top: 62px;
  z-index: 20;
}

#sidebar li a{
  padding: 8px 2;
  color: #222;
}
#sidebar li.active a {
  color: #fff;
  background-color: #129bdf;
}
#sidebar li a i {
  padding: 10px;
}
