{% load templatetag_handlebars %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhyLearn.it</title>
    <meta name="description" content="WhyLearnIt site">
    <meta name="author" content="John Connuck, Nabeel Gillani, Sam Birch">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='/site/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="print" href="/site/css/print-exercise.css" />
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/site/js/site.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-dropdown.js"></script>
</head>
<body>
  <div class="container-fluid">
  <div id="top-bar" class="">
    <p id="logo" class="">whylearn.it?</p>
    <div id="top-bar-buttons">
      <div id="for-educators" class="top-bar-button"><a href="/educators/">for educators</a></div>
      <div id="about" class="top-bar-button"><a href="/about/">about</a></div>
    </div>
  </div>
  <div id="sidebar" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">
      EXERCISES
      </li>
      <li class="active">
      <a href="../finance/finance"><i class="icon-align-right"></i>Finance</a>
      </li>
      <li>
      <a href="../videogames/videogames"><i class="icon-align-left"></i>Video Games</a>
      </li>
      <li>
      <a href="../sports/sports"><i class="icon-align-center"></i>Sports</a>
      </li>
      <li>
      <a href="../music/music"><i class="icon-music"></i>Music</a>
      </li>
    </ul>
  </div>

  <div id="main" class="span10 offset3">
    <h1 class="page-header">For Educators</h1>

    <h2>Our Philosophy</h2>
      <div>Our philosophy is to provide packets addressed in two dimensions: interest level, and topic addressed (mapped to core standards). We don't hit every interest with every topic, nor every topic with a single interest. We hope though, to at least have a choice of several interests for any one topic, and vice versa. You can see an illustration below:</div>
      <table class="table">
        <tr>
          <th>Topic</th>
          <th>Sports</th>
          <th>Videogames</th>
          <th>Finance</th>
          <th>Music</th>
        </tr>
        <tr>
          <td>Numbers & Quantities</td>
          <td>&#x2713;</td>
          <td></td>
          <td>&#x2713;</td>
          <td></td>
        </tr>
        <tr>
          <td>Functions</td>
          <td></td>
          <td>&#x2713;</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Algebra</td>
          <td></td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td>Geometry</td>
          <td></td>
          <td>&#x2713;</td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td>Modeling</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td></td>
        </tr>
      </table>

<!--
http://www.corestandards.org/the-standards/mathematics/


N-Q.1. Use units as a way to understand problems and to guide the solution of multi-step problems; choose and interpret units consistently in formulas; choose and interpret the scale and the origin in graphs and data displays.
N-Q.2. Define appropriate quantities for the purpose of descriptive modeling.
N-Q.3. Choose a level of accuracy appropriate to limitations on measurement when reporting quantities.

A-SSE.1. Interpret expressions that represent a quantity in terms of its context.★
Interpret parts of an expression, such as terms, factors, and coefficients.
Interpret complicated expressions by viewing one or more of their parts as a single entity. For example, interpret P(1+r)n as the product of P and a factor not depending on P.

A-CED.1. Create equations and inequalities in one variable and use them to solve problems. Include equations arising from linear and quadratic functions, and simple rational and exponential functions.
A-CED.2. Create equations in two or more variables to represent relationships between quantities; graph equations on coordinate axes with labels and scales.
A-CED.3. Represent constraints by equations or inequalities, and by systems of equations and/or inequalities, and interpret solutions as viable or nonviable options in a modeling context. For example, represent inequalities describing nutritional and cost constraints on combinations of different foods.
A-CED.4. Rearrange formulas to highlight a quantity of interest, using the same reasoning as in solving equations. For example, rearrange Ohm’s law V = IR to highlight resistance R.

A-REI.3. Solve linear equations and inequalities in one variable, including equations with coefficients represented by letters.

F-IF.4. For a function that models a relationship between two quantities, interpret key features of graphs and tables in terms of the quantities, and sketch graphs showing key features given a verbal description of the relationship. Key features include: intercepts; intervals where the function is increasing, decreasing, positive, or negative; relative maximums and minimums; symmetries; end behavior; and periodicity.★

F-IF.6. Calculate and interpret the average rate of change of a function (presented symbolically or as a table) over a specified interval. Estimate the rate of change from a graph.★

F-IF.7. Graph functions expressed symbolically and show key features of the graph, by hand in simple cases and using technology for more complicated cases.★

F-IF.9. Compare properties of two functions each represented in a different way (algebraically, graphically, numerically in tables, or by verbal descriptions). For example, given a graph of one quadratic function and an algebraic expression for another, say which has the larger maximum.

F-BF.1. Write a function that describes a relationship between two quantities.★

F-LE.1. Distinguish between situations that can be modeled with linear functions and with exponential functions.

F-LE.2. Construct linear and exponential functions, including arithmetic and geometric sequences, given a graph, a description of a relationship, or two input-output pairs (include reading these from a table).

F-LE.5. Interpret the parameters in a linear or exponential function in terms of a context.

S-ID.1. Represent data with plots on the real number line (dot plots, histograms, and box plots).
S-ID.2. Use statistics appropriate to the shape of the data distribution to compare center (median, mean) and spread (interquartile range, standard deviation) of two or more different data sets.
S-ID.3. Interpret differences in shape, center, and spread in the context of the data sets, accounting for possible effects of extreme data points (outliers).

S-ID.6. Represent data on two quantitative variables on a scatter plot, and describe how the variables are related.

S-ID.7. Interpret the slope (rate of change) and the intercept (constant term) of a linear model in the context of the data.

S-ID.9. Distinguish between correlation and causation.



-->


    <h2>Common Core Standards</h2>
      <p>We've related all of our packets back to the common core standards for high school math.</p>
      <p><strong>Sports</strong>: the sports packet has an emphasis on modeling, correlation, and inference from datasets. (Common core standards N-Q.1, F-IF.4, S-ID.3, S-ID.6, S-ID.9).</p>
      <p><strong>Videogames</strong>: the videogames packet tries to convey the flexibility and power of modeling physical systems with position, velocity, and acceleration. (Common core standards N-Q.1, A-SSE.1, A-CED.1, F-BF.1, F-LE.2, F-LE.5).</p>
      <p><strong>Finance</strong>: the finance packet focuses on graphical analysis, prediction, and informed decision making. (Common core standards F-IF.6, F-LE.5, S-ID.7).</p>
      <p><strong>Music</strong>: music touches on graphical analysis, function composition, and the interpretation of functions as sound. (Common core standards F-IF.7).</p>

    <h2>Contact Us</h2>
      <p>If you have something you think would make a good packet, or want to reach us for any other reason, email us at <a href="mailto:whylearnit@gmail.com">whylearnit@gmail.com</a></p>
  </div>
</body>
</html>
