{% extends "main.html" %}
{% block header %}
<script>
WhyLearnIt = {
    packet: {},
    data: {},  
    selection: function(exid, value) {
      this.data[exid] = value;
      console.log(this.data[1]);
      this.packet.renderVisuals(this.data);
    },
    packetLoaded: function(packet){
      this.packet = packet;
    }
};
$(function() {
  var inject = document.createElement('script');
  inject.src = '/packets/finance/finance.js';
  document.body.appendChild(inject);
});
</script>
{% endblock header%}
{% block main %}
<div class="container">
</br>
  <div class="row">
    <div id="index-featured" class="well span12">       
      <iframe class="youtube-player" type="text/html" width="650"
          height="450"
          src="http://www.youtube.com/embed/cD-8et3oNDk?theme=dark&modestbranding=1&wmode=transparent"
          frameborder="0" wmode="Opaque">
      </iframe>
      <div id="index-featured-info">
        <h1>Music: Learning How to DJ</h1>
        <h2>with Steven</h2>
        </br>
        <h1>Topics:</h1>
        <h2>Algebra, Geometry</h2>
      </br>
      <p style="color: #139bdf;">What does math have to do with music? Good Question. Click to find out!</p> 
      <a href="/music/music" class="btn btn-large btn-primary">Beast Music
        <i class="icon-music icon-white"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="index-finance" class="index-box span3 alert alert-warning">
      <a href="finance/finance" class="index-btn btn btn-large btn-warning">Learn about Finance <i class="icon-align-right icon-white"></i></a>
    </div>
    <div id="index-videogames" class="index-box span3 alert alert-error">
      <a href="videogames/videogames" class="index-btn btn btn-large btn-danger">Explore Video Games <i class="icon-align-left icon-white"></i></a>
    </div>
    <div id="index-sports" class="index-box span3 alert alert-success">
      <a href="sports/sports" class="index-btn btn btn-large btn-success">Check out Sports <i class="icon-align-center icon-white"></i></a>
    </div>
    <div id="index-info" class="index-box span3 alert alert-info">
      <a href="educators" class="index-btn btn btn-large btn-info">For educators <i class="icon-book icon-white"></i></a>
    </div>
  </div>
</div>
{% endblock main %}
