<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhyLearn.it {% if packet.title %} - {{packet.title}} {% endif %}</title>
    <meta name="description" content="WhyLearnIt site">
    <meta name="author" content="John Connuck, Nabeel Gillani, Sam Birch">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='/site/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="print" href="/site/css/print-exercise.css" />
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/site/js/site.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/site/js/handlebars.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
      <div id="top-bar" class="">
        <a id="logo" class="" href="/">whylearn.it?</a>
        <div id="top-bar-buttons">
          <div id="for-educators" class="top-bar-button"><a href="/educators/">for educators</a></div>
          <div id="about" class="top-bar-button"><a href="/about/">about</a></div>
        </div>
      </div>
      <div id="print">
        {% block print %}{% endblock print%}
      </div>
      <div id="main">
        {% block main %}{% endblock main%}
      </div>
  </body>
</html>

