{% load templatetag_handlebars %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhyLearn.it</title>
    <meta name="description" content="WhyLearnIt site">
    <meta name="author" content="John Connuck, Nabeel Gillani, Sam Birch">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='/site/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/site/js/site.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap-dropdown.js"></script>
    {% handlebars_js %}

    <!--Load the GOOGLE CHARTS API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(injectJs);
      WhyLearnIt = {
        packet: {},
        data: {},  
        selection: function(exid, value) {
          this.data[exid] = value;
          console.log(this.data[1]);
          this.packet.renderVisuals(this.data);
        },
        packetLoaded: function(packet){
          this.packet = packet;

          Handlebars.registerHelper('dropDown', function(curr) {
            var result = "";
            if (this.exid != curr) {
              result = '<li><a href="javascript:goToEx(' + curr + ',' +
                this.exid + ')">Step ' + this.exid + '</a></li>';
            }
            return new Handlebars.SafeString(result);
          });

          var vidtpl = Handlebars.compile($('#video-tpl').html())
          var vidrendered = vidtpl(packet);
          $('#video-watch').append(vidrendered);

          var extpl = Handlebars.compile($('#exercises-tpl').html())
          var rendered = extpl(packet);
          $('#exercises').append(rendered);

          // render visuals
          this.packet.renderVisuals(this.data);

          $('.hint').popover({
            "title": "Hint",
            "placement": "top"
          });

          $('.tooltip').tooltip();
          $('.exercise').hide();
          $('#exercise-1').show();
        }
      };


      function injectJs() {
        var inject = document.createElement('script');
        inject.src = '/packets/{{folder}}/{{packet}}.js';
        document.body.appendChild(inject);
        setTimeout(scrollStick, 500);
      }
      /*
      //TODO:  Don't hardcode the js file
      $.getJSON('/loadpacket/', {js_file : 'finance.js'}, 

      function(data){
        var JS_FILE = data['AllMetadata']['JSFile'];
        // Common function found in site.js
        // Takes exercise info retrieved from the server
        // and stuffs it into the right divs, etc.

        populateExerciseContent(data);
      }

      );

    });*/

    function scrollStick() {
      var originalPosition = $('#exercises-progress-container').offset().top;
      var mode = 'normal';

      var handler = function(event){
        var topOfView = $(window).scrollTop() + 48 + 20; //top bar height included
        var progressbarTop = $('#exercises-progress-container').offset().top;

        if (progressbarTop <= topOfView && mode == 'normal'){
          originalPosition = $('#exercises-progress-container').offset().top;
          mode = 'float';
          $('#exercises-progress-container').css({
            position: 'fixed',
            top: 48,
            left: 0,
            borderBottom: '1px solid #e9e9e9',
            backgroundColor: '#f5f5f5',
          });
          }else if (originalPosition > topOfView && mode == 'float'){
          mode = 'normal';
          console.log('switching to normal')
          $('#exercises-progress-container').css({
            position: 'static',
            backgroundColor: 'transparent',
            border: 'none'
          });
        }
      };

      $(window).on('scroll', handler);
      handler();
    }
  </script>

</head>
<body>
  {% include exercise_template_path %}
  <div id="top-bar" class="">
    <p id="logo" class="">whylearn.it?</p>
    <div id="top-bar-buttons">
      <div id="for-educators" class="top-bar-button"><a href="/foreducators/">for educators</a></div>
      <div id="about" class="top-bar-button"><a href="/about/">about</a></div>
    </div>
  </div>
  <div class="container">
  <div id="sidebar" class="well">
    <ul class="nav nav-list">
      <li class="nav-header">
      OTHER EXERCISES
      </li>
      <li class="active">
      <a href="#"><i class="icon-align-right"></i>Finance</a>
      </li>
      <li>
      <a href="#"><i class="icon-align-left"></i>Video Games</a>
      </li>
      <li>
      <a href="#"><i class="icon-align-center"></i>Sports</a>
      </li>
    </ul>
  </div>
  <div id="main" class="span10 offset2" >
    <div id="video-watch"> 
      {% tplhandlebars "video-tpl" %}
      <div id="video-title">{{title}}</div>
      <div id="watch-main-video" class="">
        <iframe class="youtube-player" type="text/html" width="650"
          height="450"
          src="http://www.youtube.com/embed/{{video}}?theme=dark&modestbranding=1&wmode=transparent"
          frameborder="0" wmode="Opaque">
        </iframe>
      </div> 
      {% endtplhandlebars %}
    </div>
    <div id="exercises">
      <div id="exercises-progress-container" style="z-index: 10;">
        <div id="exercises-progress" class="progress" ><div class="bar"></div></div>
      </div>

      {% tplhandlebars "exercises-tpl" %}
      <div id="packet-intro-text">{{{description}}}</div>
      {{#each exercises}}
      <div class="exercise incomplete alert alert-info" id="exercise-{{exid}}">
        <h3>Exercise {{exid}}</h3>
        <div class="visual" id="interactive-{{exid}}"></div>
        <div class="exercise-content">
          <p class="question">{{{this.question}}}</p>
          <button class="hint btn btn-info" data-content="{{this.hint}}">Show Hint</button>
          <div class="clear"></div>
          <div class="response-medium">
            {{#if choices}}
            <div class="btn-group" data-toggle="buttons-radio">
              {{#each choices}}
              <button class="btn" onclick="(function() {
                WhyLearnIt.selection('{{../exid}}', '{{this}}');
                goToEx({{../exid}}, {{../exid}} + 1);
                })()">{{this}}</button>
              {{/each}}
            </div>
            {{else}}
            <textarea></textarea>
            {{/if}}
          </div>
          <div class="next-button btn-group">
            <button type="button" class="btn btn-primary"
              onclick="goToEx({{exid}}, {{exid}} + 1);">Next Step</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a>Jump to step</a></li>
              <li class="divider"></li>
              {{#each ../exercises}}
              {{#dropDown ../exid }}
              {{/dropDown}}
              {{/each}}
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      {{/each}}
      {% endtplhandlebars %}
    </div>

    <div id="learn-more">
      <h2>Learn more</h2>
    </div>

    <div class="clear"></div>

    <div id="print"></div><div id="email"></div>
    <div class="page-header">
      <h1>Related Videos</h1>
    </div>
    <ul id="related" class="thumbnails"> 
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
      <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
