<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhyLearn.it</title>
    <meta name="description" content="WhyLearnIt site">
    <meta name="author" content="John Connuck, Nabeel Gillani, Sam Birch">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='/site/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/site/exercise-content/finance/finance.js"></script>
    <script type="text/javascript" src="/site/js/site.js"></script>
    <script type="text/javascript" src="/site/js/handlebars-runtime.js"></script>
    <script type="text/javascript" src="/site/js/handlebars.js"></script>

    <script id="entry-template" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{%title%}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
    </script>

    <script type="text/javascript">
      $(function() {
          var source = $("#entry-template").html();
          var template = Handlebars.compile(source);
          var context = {title: "test", body: "body"}
  /*        var context = {"vwidth": 960, "vheight": 540, "source": "blah",
          "description": "This is a test."}; */
          var html = template(context);
          console.log(html);
          $("body").append(html);
          });
</script> 
  </head>
  <body>
  </body>
</html>
