<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhyLearn.it</title>
    <meta name="description" content="WhyLearnIt site">
    <meta name="author" content="John Connuck, Nabeel Gillani, Sam Birch">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='/site/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/site/exercise-content/finance/finance.js"></script>
    <script type="text/javascript" src="/site/js/site.js"></script>

    <!--Load the GOOGLE CHARTS API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>

      /* Debugging!
      $.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {
          alert(textStatus);
          alert(errorThrown);
          alert(XMLHttpRequest.responseText);
      }});*/

      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(prepareExerciseVisulations);

      function prepareExerciseVisulations(){

        // found in <EXERCISE>.js.  Initialize the exercise content
        // NOTE:  Assumes that init() doesn't have any asynchronous activity
        init();

        // found in <EXERCISE>.js.  Render charts/canvas/other interactive content
        renderInteractiveContent();
      }


      // Pull in all of the question information 
      $(document).ready(function(){

        $.getJSON('/loadpacket/', {js_file : JS_FILE}, 

        function(data){
          // Common function found in site.js
          // Takes exercise info retrieved from the server
          // and stuffs it into the right divs, etc.
          populateExerciseContent(data);
        }

        );

      });

      $(document).ready(function(){
        var originalPosition = $('#exercises-progress-container').offset().top;
        var mode = 'normal';

        var handler = function(event){
          var topOfView = $(window).scrollTop() + 48; //top bar height included
          var progressbarTop = $('#exercises-progress-container').offset().top;

          console.log(progressbarTop, topOfView)
          if (progressbarTop <= topOfView && mode == 'normal'){
            originalPosition = $('#exercises-progress-container').offset().top;
            mode = 'float';
            console.log('switching to float')
            $('#exercises-progress-container').css({
              position: 'fixed',
              top: 48,
              left: 0,
              borderBottom: '1px solid #000',
              backgroundColor: '#fff'
            });
          }else if (originalPosition > topOfView && mode == 'float'){
            mode = 'normal';
            console.log('switching to normal')
            $('#exercises-progress-container').css({
              position: 'static',
              backgroundColor: 'transparent',
              border: 'none'
            });
          }
        };

        $(window).on('scroll', handler);
        handler();
      });
    </script>

    <link href='/site/css/common.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div id="top-bar" class="navbar navbar-fixed-top">
      <h1 id="logo" class="">whylearn.it?</h1>
      <div id="for-educators" class="top-bar-button"><a href="for-educators.html">for educators</a></div>
      <div id="about" class="top-bar-button"><a href="about.html">about</a></div>
      <div class="clear"></div>
      </div>

      <div class="row">
      <div id="video-watch" class="span8 offset2">
		<div id="video-title"> </div>
        <div id="watch-main-video" class="well"> 

        </div>


        <div id="exercises">
          <div id="exercises-progress-container" style="width: 100%; z-index: 1000000;">
            <div id="exercises-progress" class="progress progress-striped"><div class="bar"></div></div>
          </div>

          <div id="packet-intro-text"></div>
          <div class="exercise incomplete alert alert-info" id="exercise-1">
            <h3>Exercise 1</h3>
            <div class="visual" id="interactive-1"></div>
            <div class="exercise-content">
              <p> </p>
              <textarea></textarea>
              <button type="button" class="btn btn-primary next-button" onclick="showNextExercise(1);">Next Step</button>
            </div>
            <div class="clear"></div>
          </div>

          <div class="exercise incomplete alert alert-info" id="exercise-2" style="display:none;">
            <h3>Exercise 2</h3>
            <div class="visual" id="interactive-2"></div>
            <div class="exercise-content">
              <p> </p>
              <textarea></textarea>
              <button type="button" class="btn btn-primary next-button" onclick="showNextExercise(2);">Next Step</button>
            </div>
            <div class="clear"></div>
          </div>

          <div class="exercise incomplete alert alert-info" id="exercise-3" style="display:none;">
            <h3>Exercise 3</h3>
            <div class="visual" id="interactive-3"></div>
            <div class="exercise-content">
              <p> </p>
              <textarea></textarea>
              <button type="button" class="btn btn-primary next-button" onclick="showNextExercise(3);">Next Step</button>
            </div>
            <div class="clear"></div>
          </div>

          <div class="exercise incomplete alert alert-info" id="exercise-4" style="display:none;">
            <h3>Exercise 4</h3>
            <div class="visual" id="interactive-4"></div>
            <div class="exercise-content">
              <p> </p>
              <textarea></textarea>
            </div>
            <div class="clear"></div>
          </div>
        </div>


        <div id="learn-more">
          <h2>Learn more</h2>
        </div>
        
        <div class="clear"></div>

        <div id="print"></div><div id="email"></div>
        <div class="page-header">
          <h1>Related Videos</h1>
        </div>
          <ul id="related" class="thumbnails"> 
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
            <li class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/160x120"  alt="video title" /></a></li>
          </ul>
      </div>

      <div id="front-page">
        <div id="featured-content">
          <div id="main-video">
            <iframe class="youtube-player" type="text/html" 
              src="http://www.youtube.com/embed/2uYs0gJD-LE?wmode=transparent"
              frameborder="0"></iframe>
          </div>
          <div id="description-bar">
            <h3>What is WhyLearnIt?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate leo ac magna dapibus faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed ipsum dui. In hac habitasse platea dictumst. Praesent consectetur, dui dictum condimentum auctor, tortor purus pulvinar augue, ut varius sapien enim id dui. Morbi quis lorem diam. Sed accumsan, neque nec aliquet malesuada, nibh risus gravida diam, quis dictum tortor dui in eros. Morbi sagittis mauris vel sem sollicitudin pretium. Mauris sed ante risus, ac porttitor nisi.</p>
          </div>

          <div class="clear"></div>
        </div>

        <div id="videos">
          <div id="video-content">
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
            <div class="video"><img src="" alt="video title" /></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
